* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    background-color: #f7bf90;
}
.titulo {
    display: flex;
    justify-content: center;
    font-size: 3rem;
}
.container {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.boton {
    margin: 1rem;
    padding-left: 10px;
    padding-right: 10px;
}
.text {
    font-size: 1.5rem;
    margin-bottom: 5px;
}